<!DOCTYPE html>
<html
	lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: main-head}">

</head>

<th:block layout:fragment="title">
	<title>login</title>
</th:block>

<body>
	<div class="login-container">
		<form id="login" th:action="@{/member/login}" method="POST">
			<div class="form-group">
				<label for="loginId">아이디:</label>
				<input type="text" id="loginId" name="loginId" required>
			</div>
			<div class="form-group">
				<label for="password">비밀번호:</label>
				<input type="password" id="password" name="password" required>
			</div>
			<div>
				<a th:href="@{/oauth2/authorization/kakao}">
					<img th:src="@{/img/kakao_login.png}">
				</a>
				<a th:href="@{/oauth2/authorization/google}">
					<img th:src="@{/img/google_login.png}">
				</a>
			</div>
			<div class="form-group actions">
				<button>로그인</button>
			</div>
		</form>
		<div th:if="${errorMessage}">
			<p style="color: #008000" th:text="${errorMessage}"></p>
		</div>
		<div class="links">
			<button onclick="openModal('idModal')">아이디 찾기</button>
			<button onclick="openModal('passwordModal')">비밀번호 찾기</button>
			<button onclick="openModal('signupModal')">회원가입</button>
		</div>
	</div>

	<!-- 아이디 찾기 모달	-->
	<div id="idModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal('idModal')">&times;</span>
			<form method="POST">
				<div class="form-group">
					<label for="idModalEmail">이메일:</label>
					<input type="email" id="idModalEmail" name="idModalEmail" required>
				</div>
				<div class="form-group actions">
					<button>아이디 찾기</button>
				</div>
			</form>
		</div>
	</div>

	<!-- 비밀번호 찾기 모달	-->
	<div id="passwordModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal('passwordModal')">&times;</span>
			<form method="POST">
				<div class="form-group">
					<label for="passwordModalUserId">아이디:</label>
					<input type="text" id="passwordModalUserId" name="passwordModalUserId" required>
				</div>
				<div class="form-group">
					<label for="passwordModalEmail">이메일:</label>
					<input type="email" id="passwordModalEmail" name="passwordModalEmail" required>
				</div>
				<div class="form-group actions">
					<button>비밀번호 재설정</button>
				</div>
			</form>
		</div>
	</div>

	<!-- 회원가입 모달 -->
	<div id="signupModal" class="modal">
		<div class="modal-content">
			<span class="close" onclick="closeModal('signupModal')">&times;</span>
			<form method="POST">
				<div class="form-group">
					<label for="signupModalUserId">아이디:</label>
					<input type="text" id="signupModalUserId" name="signupModalUserId" required>
					<button type="button" onclick="checkUserId()">중복 검사</button>
				</div>
				<div class="form-group">
					<label for="signupModalPassword">비밀번호:</label>
					<input type="password" id="signupModalPassword" name="signupModalPassword" required>
				</div>
				<div class="form-group">
					<label for="signupModalPasswordConfirm">비밀번호 확인:</label>
					<input type="password" id="signupModalPasswordConfirm" name="signupModalPasswordConfirm" required>
					<span id="passwordMatchResult"></span>
				</div>
				<div class="form-group">
					<label for="signupModalEmail">이메일:</label>
					<input type="email" id="signupModalEmail" name="signupModalEmail" required>
				</div>
				<div class="form-group">
					<label for="signupModalName">이름:</label>
					<input type="text" id="signupModalName" name="signupModalName" required>
				</div>
				<div class="form-group">
					<label for="signupModalGender">성별 :</label>
					<select id="signupModalGender" name="signupModalGender">
						<option value="male">남자</option>
						<option value="female">여자</option>
					</select>
				</div>
				<div class="form-group">
					<label for="signupModalBirthday">생년월일:</label>
					<input type="date" id="signupModalBirthday" name="signupModalBirthday" required>
				</div>
				<div class="form-group actions">
					<button type="button" onclick="signup();">회원가입</button>

				</div>
			</form>
		</div>
	</div>

	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</body>
<script th:inline="javascript">
/*<![CDATA[*/

	document.getElementById("signupModalPasswordConfirm").onkeyup = function() {
	    var password = document.getElementById("signupModalPassword").value;
	    var confirmPassword = document.getElementById("signupModalPasswordConfirm").value;

	    if(password == confirmPassword) {
	        document.getElementById("passwordMatchResult").style.color = 'green';
	        document.getElementById("passwordMatchResult").innerHTML = "비밀번호 일치";
	    } else {
	        document.getElementById("passwordMatchResult").style.color = 'red';
	        document.getElementById("passwordMatchResult").innerHTML = "비밀번호 불일치";
	    }
	};


	// 회원가입
	function signup() {
		const signupData = {
		    loginId: document.getElementById('signupModalUserId').value,
		    email: document.getElementById('signupModalEmail').value,
		    password: document.getElementById('signupModalPassword').value,
		    name: document.getElementById('signupModalName').value,
		    gender: document.getElementById('signupModalGender').value,
		    birthday: document.getElementById('signupModalBirthday').value
		}

		$.ajax({
			type: "POST",
			url: `/member/signup`,
			contentType: 'application/json',
			data: JSON.stringify(signupData),
			success : function(response) {
				if(response.successStatus) {
					alert("회원가입 성공");
					location.reload();
				}
				else {
					alert("회원가입 실패, 다시 시도하십시오");
				}
			},
			error: function(xhr, status, error) {
                console.error('AJAX request failed error:', status, error);
            }
		});
	}

	// 아이디 중복확인
	function checkUserId() {
		const checkId = document.getElementById('signupModalUserId').value;
		$.ajax({
			type: "POST",
			url: `/member/duplicateLoginId`,
			data: checkId,
			success : function(check) {
				if(check) {
					alert("사용가능한 아이디입니다.");
					document.getElementById("signupModalUserId").disabled = true;
                    document.querySelector("button[onclick='checkUserId()']").disabled = true;
				}
				else
					alert("이미 사용중인 아이디입니다.");
			},
			error: function(xhr, status, error) {
                console.error('AJAX request failed error:', status, error);
            }
		});
	}


	function openModal(modalId) {
	    document.getElementById(modalId).style.display = 'block';
	    console.log("open");
	}

	function closeModal(modalId) {
	    document.getElementById(modalId).style.display = 'none';
	}

/*]]>*/
</script>
</html>