<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/basic}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
    <title>Homepage</title>
</th:block>

<th:block layout:fragment="js">
    <script th:inline="javascript" th:src="@{/js/post/list.js}"></script>
</th:block>

<th:block layout:fragment="contentFragment">
    <div class="categoryName">
        <p id="categoryName" style="font-size: 20px;"></p>
    </div>
    <div class="content">
        <section>
            <!--/* 검색 */-->
            <div>
                <form id="searchForm" >
                    <select id="searchType" name="searchType" title="검색 유형 선택">
                        <option value="">전체 검색</option>
                        <option value="title">제목</option>
                        <option value="content">내용</option>
                        <option value="writer">작성자</option>
                    </select>
                    <select id="categoryType" name="categoryType" title="게시판 선택">

                    </select>
                    <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
                    <button type="button" onclick="movePage(1);"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
                </form>
            </div>

            <!--/* 리스트 */-->
            <table>
                <colgroup>
                    <col style="width:50px;"/><col style="width:7.5%;"/><col style="width:auto;"/><col style="width:10%;"/><col style="width:15%;"/><col style="width:7.5%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col"><input type="checkbox"/></th>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록일</th>
                    <th scope="col">조회</th>
                </tr>
                </thead>

                <!--/* 리스트 데이터 렌더링 영역 */-->
                <tbody id="list">

                </tbody>
            </table>

            <!--/* 페이지네이션 렌더링 영역 */-->
            <div class="paging">

            </div>

            <!--/* 버튼 */-->
            <a type="button" th:text="글쓰기" th:href="@{/post/write}"></a>
        </section>
    </div>
</th:block>

</html>