<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/basic}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
    <title>Homepage</title>
</th:block>

<th:block layout:fragment="contentFragment">
    <div class="categoryName">
        <p id="categoryName" th:text="전체글" style="font-size: 20px;"></p>
    </div>
    <div class="searchForm">
        <form id="searchForm" >
            <select id="searchType" name="searchType" title="검색 유형 선택">
                <option value="all">전체 검색</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="writer">작성자</option>
            </select>
            <select id="categoryType" name="categoryType" title="게시판 선택">
                <option value="전체글">게시판 선택</option>
                <option th:each="categoryList : ${categoryList}" th:value="${categoryList.category}" th:text="${categoryList.category}"></option>
            </select>
            <input type="text" id="keyword" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
            <button type="button" onclick="updatePostList(0);">검색</button>
        </form>
    </div>
    <div class="content">
        <section>
            <div style="text-align: right;">
                <label>보기 종류</label>
                <select id="viewType" name="viewType" title="보기 종류" onchange="updatePostList(null)">
                    <option value="20">20개</option>
                    <option value="30">30개</option>
                    <option value="50">50개</option>
                    <option value="100">100개</option>
                </select>
            </div>
            <table id="postList">
                <colgroup>
                    <col style="width:7.5%;"/><col style="width:auto;"/><col style="width:15%;"/><col style="width:15%;"/><col style="width:7.5%;"/>
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">등록일</th>
                    <th scope="col">조회수</th>
                </tr>
                </thead>

                <!--/* 리스트 데이터 렌더링 영역 */-->
                <tbody id="list">

                </tbody>
            </table>

            <!--/* 페이지네이션 렌더링 영역 */-->
            <div id="paging" style="text-align: center;">

            </div>

            <!--/* 버튼 */-->
            <a type="button" th:text="글쓰기" th:href="@{/post/write}"></a>
        </section>
    </div>
</th:block>

<th:block layout:fragment="js">
<script th:inline="javascript">
/*<![CDATA[*/
    window.onload = function() {
        updatePostList(0);
    }

    // 카테고리 클릭 이벤트 바인딩
    $(function() {
        $(".categoryClass").click(handleCategoryClick).hover(function() {
            $(this).toggleClass("hovered");
        });
    });

    // 카테고리 클릭 이벤트 처리
    function handleCategoryClick(event) {
        updateSelectedLink(this);
        updatePostListByCategory();
        $("#categoryName").text($(this).text());
    }

    // 선택한 카테고리 업데이트
    function updateSelectedLink(link) {
        $(".categoryClass").removeClass("selected");
        $(link).addClass("selected");
    }

    // 게시글 리스트 업데이트
    function updatePostList(pageNumber) {
        const form = document.getElementById('searchForm');

        const queryParam = {
            searchType : form.searchType.value,
            categoryType : form.categoryType.value,
            keyword : form.keyword.value,
            page : calculatePage(pageNumber),
            size : getViewType()
        }
        getPostList(queryParam);
    }

    // 게시글 리스트 업데이트 by categoryList
    function updatePostListByCategory() {
        const queryParam = {
            searchType : 'all',
            categoryType : $(".categoryClass.selected").text(),
            keyword : '',
            page : 0,
            size : getViewType()
        }
        getPostList(queryParam);
    }

    // 게시글 리스트 요청
    function getPostList(queryParam) {
        $.ajax({
            type: "GET",
            url: `/post/list?${$.param(queryParam)}`,
            dataType: 'json',
            success : function (requestList) {
                console.log(requestList);
                drawPostList(requestList.content);
                drawPaging(requestList);
            },
            error: function(xhr, status, error) {
                console.error('AJAX request failed error:', status, error);
            }
        });
    }

    // 게시글 리스트 그리기
    function drawPostList(posts) {
        let html = '';

        if(posts.length === 0) html += `<tr><th scope="col" colspan="5">게시글이 없습니다.</th></tr>`;
        else {
            posts.forEach(post => {
                html += `
                    <tr>
                        <td><a onclick="goViewPage(${post.id})">${post.id}</a></td>
                        <td><a class="overflow-ellipsis" onclick="goViewPage(${post.id})">${post.title}</a></td>
                        <td class="overflow-ellipsis">${post.writer}</td>
                        <td>${dayjs(post.createdDate).format('YYYY-MM-DD')}</td>
                        <td>${post.viewCnt}</td>
                    </tr>
                    `
            });
        }

        document.getElementById('list').innerHTML = html;

    }

    // 페이징 그리기
    function drawPaging(page) {
        let html = '';

        let offset = Math.floor(page.number / 10) * 10;
        let n = 10;
        if(page.totalPages + 1 < offset + 9)
            n = page.totalPages - offset;
        const numbers = Array.from({length: n}, (_, i) => offset + i);

        html += `
            <a onclick="updatePostList('first');" ${(page.first) ? 'class="pageDisabled"' : ''}>처음</a>
            <a onclick="updatePostList('prev');" ${(page.first) ? 'class="pageDisabled"' : ''}>&lt;</a>
        `;

        numbers.forEach(t => {
            html += `
                <a onclick="updatePostList(${t});" ${t === page.number ? 'class="selected"' : ''}>${t + 1}</a>
            `;
        });

        html += `
            <a onclick="updatePostList('next');" ${(page.last) ? 'class="pageDisabled"' : ''}>&gt;</a>
            <a onclick="updatePostList('last');" ${(page.last) ? 'class="pageDisabled"' : ''}>마지막</a>
        `;

        document.getElementById("paging").innerHTML = html;

    }


    // view 페이지 이동
    function goViewPage(postId) {
        const url = "/post/view/" + postId;
        window.location.href = url;
    }

    // 페이지 계산
    function calculatePage(pageNumber) {
        if(pageNumber === 0) return parseInt(pageNumber, 10);
        const postList = [[${postList}]];
        switch(pageNumber) {
            case null :                                                             // viewType 변경 시
                const pageNum = getPageNum();
                if(getViewType() * pageNum > postList.totalElements) return 0;      // viewType 변경할 때 현재 페이지를 유지하면 total 보다 클 경우 0페이지로 이동
                else return pageNum;                                                // total 보다 작을 경우 현재 페이지 유지
            case 'first' : return 0;                                                // 처음 페이지
            case 'prev' : return getPageNum() - 1;                                  // 앞 페이지
            case 'next' : return getPageNum() + 1;                                  // 뒤 페이지
            case 'last' : return postList.totalPages - 1;                           // 마지막 페이지
            default : return parseInt(pageNumber, 10);                              // 직접 페이지 선택
        }
    }


    // 현재 선택된 카테고리 이름 반환
    function getCategoryName() {
        const selectedElement = document.querySelector('.categoryClass.selected');
        return selectedElement ? selectedElement.textContent : '';
    }

    // viewType 반환
    function getViewType() {
        return document.getElementById('viewType').value;
    }

    // 현재 페이지 반환
    function getPageNum() {
        return document.getElementById('paging').querySelector('.selected').textContent - 1;
    }


/*]]>*/
</script>
</th:block>


</html>


