<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/basic}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
	<title th:text="${post.title}"></title>
</th:block>

<th:block layout:fragment="contentFragment">
	<div class="post-section">
		<table>
			<colgroup>
				<col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
			</colgroup>
			<tbody id="postInfo">
			<tr>
				<th scope="row">공개 여부</th>
				<td th:text="(${post.publicYn}) ? '공개' : '비공개'"></td>

				<th scope="row">등록일</th>
				<!-- <td colspan="3" th:text="${post.createdDate}"></td> -->
				<td colspan="3" id="createdDate"></td>
			</tr>

			<tr>
				<th>게시판</th>
				<td th:text="${post.category.category}"></td>

				<th id="modified"></th>
				<td colspan="3" id="modifiedDate"></td>
			</tr>

			<tr>
				<th>제목</th>
				<td th:text="${post.title}"></td>

				<th>조회수</th>
				<td colspan="3" th:text="${post.viewCnt}"></td>
			</tr>

			<tr>
				<th>아이디</th>
				<td colspan="3" th:text="${post.member.nickname}"></td>
			</tr>

			<tr>
				<td colspan="3" th:text="${post.content}"></td>
			</tr>
			</tbody>
		</table>
		<div id="images">

		</div>
		<div class="post-buttons">
			<button type="button" th:text="수정" onclick="goWritePage();"></button>
			<button type="button" onclick="goListPage();">뒤로</button>
		</div>
	</div>

	<div class="comment-section">
		<h3>댓글</h3>
		<form id="commentForm" method="post">
			<div class="comment-form">
				<textarea id="commentContent" name="commentContent" rows="3" cols="50"></textarea>
				<button type="button" onclick="saveComment(0);">댓글 작성</button>
			</div>
		</form>

		<div class="comments" id="comments_div">
		</div>

	</div>
</th:block>

<th:block layout:fragment="js">
<script th:inline="javascript">
/*<![CDATA[*/
	window.onload = () => {
		drawPost();
		getComments();
	}

	const post = [[${post}]];
	const files = [[${files}]];

	// 게시글 렌더링
	function drawPost() {
		document.getElementById('createdDate').innerText = dayjs(post.createdDate).format('YYYY-MM-DD HH:mm');

		if(post.modifiedDate != null) {
			document.getElementById('modified').innerText = '수정일';
			document.getElementById('modifiedDate').innerText = dayjs(post.modifiedDate).format('YYYY-MM-DD HH:mm');
		}

		if(files != null) {
			var html = '';
			files.forEach(file => {
				html += `<img src="/file/post/${file.postId}/${file.uuid}/${file.originalFileName}" alt="이미지" onclick="window.open(this.src)"/>`;
			})
			document.getElementById("images").innerHTML = html;
		}
	}

	// 댓글 요청
	function getComments() {
		$.ajax({
			type: "GET",
			url: `/comment/list/${post.id}`,
			success: function(request) {
				if(request.successStatus)
					drawComments(request.data);
				else
					showErrorMessage(request.errorMessage);
			},
			error: function(xhr, status, error) {
				console.log('AJAX request failed error:', status, error);
			}
		});
	}



	// 댓글 저장
	function saveComment(parentId) {
		const post = [[${post}]];
		var data = {}

		if(parentId !== 0) {
			data.comment = document.querySelector("#replyCommentContent").value;
			data.parentId = parentId;
		} else {
			data.comment = document.querySelector("#commentContent").value;
		}


		$.ajax({
			type: "POST",
			url: `/comment/${post.id}`,
			data: JSON.stringify(data),
			dataType: 'json',
			contentType: "application/json; charset=utf-8",
			success: function(request) {
				if(request.successStatus)
					drawComments(request.data);
				else
					showErrorMessage(request);
			},
			error: function(xhr, status, error) {
				console.error('AJAX request failed error:', status, error);
			}
		});
	}

	// 댓글 렌더링
	function drawComments(comments){
		clearCommentSection();
		let html = '';
		comments.forEach(comment => {
			html += addCommentHtml(comment, 0);
		})

		document.getElementById('comments_div').innerHTML = html;
	}

	// 계층형 댓글 html 생성
	function addCommentHtml(comment, depth) {
		let html = '';

		if(comment.deleteYn)
			html = deletedCommentHtml(depth);
		else
			html = renderCommentHtml(comment, depth);

		if(comment.children === null)
			return html;

		comment.children.forEach(childComment => {
			html += addCommentHtml(childComment, depth + 1);
		})

		return html;
	}

	// 댓글 칸 html 생성
	function renderCommentHtml(comment, depth) {
		let html = '';
		let formattedDate = dayjs(comment.createdDate).format('YYYY-MM-DD HH:mm');
		let showModifiedDate = false;

		if(comment.modifiedDate !== null)
			showModifiedDate = true;

		html += `
			<div class="comment_box c_${comment.id}" style="margin-left: ${depth * 50}px">
				<div class="comment_meta">
					<span class="comment_id">${comment.nickname}</span>
					<span class="comment_edit" onclick="commentEdit(${comment.id}, ${depth});">수정하기</span>
				</div>
				<p class="comment_text">
					<span class="comment_text_text">${comment.comment}</span>
					<span class="comment_modified">${showModifiedDate ? " [수정됨]" : ""}</span>
				</p>
				<div class="comment_meta">
					<span class="comment_date">${formattedDate}</span>
					<span class="comment_reply" onclick="drawReplyComment(${comment.id}, ${depth});">답글쓰기</span>
				</div>
			</div>
		`;

		return html;
	}

	// 삭제된 댓글 html 생성
	function deletedCommentHtml(depth) {
		let html = `
			<div class="comment_box" style="margin-left: ${depth * 50}px">
				<div class="comment_meta">
					<span class="comment_id"></span>
					<span class="comment_edit"></span>
				</div>
				<p class="comment_text">삭제된 댓글입니다.</p>
				<div class="comment_meta">
					<span class="comment_date"></span>
					<span class="comment_reply"></span>
				</div>
			</div>
		`;
		return html;
	}

	// 댓글 수정시 유저 확인
	function commentEdit(commentId, depth) {
		$.ajax({
			type: "POST",
			url: `/comment/user/${commentId}`,
			success: function(request) {
				if(request.successStatus)
					drawCommentEdit(request.data, depth);
				else
					showErrorMessage(request.errorMessage);
			}
		});
	}

	// 댓글 수정칸 생성
	function drawCommentEdit(comment, depth) {
		let commentHtml = document.querySelector(`.comment_box.c_${comment.id}`);
		let html = `
			<div class="comment_box c_${comment.id}" style="margin-left: ${depth * 50}px">
				<div class="comment_meta">
					<span class="comment_id">${commentHtml.querySelector(".comment_id").innerText}</span>
					<div>
						<span class="comment_cancel" onclick="cancelUpdateComment(${comment.id}, ${depth});">취소</span>
						<span> / </span>
						<span class="comment_update" onclick="commentUpdate(${comment.id}, ${depth});">저장</span>
					</div>
				</div>
				<textarea class="comment_text_edit">${commentHtml.querySelector(".comment_text_text").innerText}</textarea>
				<div class="comment_meta">
					<span class="comment_date">${commentHtml.querySelector(".comment_date").innerText}</span>
					<span class="comment_delete" onclick="commentDelete(${comment.id}, ${depth});">삭제</span>
				</div>
			</div>
		`;
		commentHtml.outerHTML = html;
	}

	// 댓글 수정 요청
	function commentUpdate(commentId, depth) {
		let text = document.querySelector(`.c_${commentId}`).querySelector(".comment_text_edit").value;
		$.ajax({
			type: "PUT",
			url: `/comment/${commentId}`,
			data: {text : text},
			dataType: 'json',
			success: function(request) {
				if(request.successStatus)
					drawUpdatedComment(request.data, depth);
				else
					showErrorMessage(request.errorMessage);
			}
		});
	}

	// 답글 창 html 생성
	function drawReplyComment(parentId, depth) {
		const loginUser = [[${loginUser}]];
		if(loginUser === null)
			alert("로그인 후 이용가능합니다.");
		else {
			let html = document.querySelector(`.comment_box.c_${parentId}`).outerHTML;
			let replyHtml = `
				<div class="comment_box comment_reply_content" style="margin-left: ${(depth + 1) * 50}px">
					<div class="comment_meta">
						<span class="comment_id">${loginUser}</span>
						<span class="comment_cancel" onclick="closeComment(this);">취소</span>
					</div>
					<div class="comment-meta reply-comment-section" >
						<form id="replyCommentForm" method="post">
							<div class="reply-comment-form">
								<textarea id="replyCommentContent" name="replyCommentContent" rows="3" cols="50"></textarea>
								<button type="button" onclick="saveComment(${parentId});">답글 작성</button>
							</div>
						</form>
					</div>
				</div>
			`;


			html += replyHtml;
			document.querySelector(`.comment_box.c_${parentId}`).outerHTML = html;
		}
	}

	// 댓글 삭제
	function commentDelete(commentId, depth) {
		if(confirm("정말 삭제하시겠습니까?")) {
			$.ajax({
				type: "DELETE",
				url: `/comment/${commentId}`,
				success: function(request) {
					if(request.successStatus) {
						alert("댓글이 삭제되었습니다.");
						getComments();
					}
					else
						showErrorMessage(request.errorMessage);
				}
			});
		}
	}

	// 수정 취소 버튼
	function cancelUpdateComment(commentId, depth) {
		$.ajax({
			type: "GET",
			url: `/comment/${commentId}`,
			success: function(request) {
				if(request.successStatus){
					html = renderCommentHtml(request.data, depth);
					document.querySelector(`.comment_box.c_${commentId}`).outerHTML = html;
				}
				else
					showErrorMessage(request.errorMessage);
			}
		});
	}

	// 답글 취소 버튼
	function closeComment(element) {
		element.closest('.comment_box').outerHTML = "";
	}

	// 수정된 댓글 렌더링
	function drawUpdatedComment(comment, depth) {
		let html = renderCommentHtml(comment, depth);
		document.querySelector(`.comment_box.c_${comment.id}`).outerHTML = html;
	}


	// 에러 메세지 출력
	function showErrorMessage(message) {
		alert(message);
		location.reload();
	}

	// 수정 페이지
	function goWritePage() {
		var url = "/post/write?id=" + [[${post.id}]];
		window.location.href = url;
	}

	// 댓글 입력 칸 초기화
	function clearCommentSection() {
		document.querySelector("#commentContent").value = "";
	}


	// 뒤로 가기
	function goListPage() {
		window.history.back();
	}
/*]]>*/
</script>
</th:block>