<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/basic}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
	<title th:text="${post.title}"></title>
</th:block>

<th:block layout:fragment="contentFragment">
	<div class="post-section">
		<table>
			<colgroup>
				<col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
			</colgroup>
			<tbody id="postInfo">
			<tr>
				<th scope="row">공개 여부</th>
				<td th:text="(${post.publicYn}) ? '공개' : '비공개'"></td>

				<th scope="row">등록일</th>
				<!-- <td colspan="3" th:text="${post.createdDate}"></td> -->
				<td colspan="3" id="createdDate"></td>
			</tr>

			<tr>
				<th>게시판</th>
				<td th:text="${post.category.category}"></td>

				<th id="modified"></th>
				<td colspan="3" id="modifiedDate"></td>
			</tr>

			<tr>
				<th>제목</th>
				<td th:text="${post.title}"></td>

				<th>조회수</th>
				<td colspan="3" th:text="${post.viewCnt}"></td>
			</tr>

			<tr>
				<th>아이디</th>
				<td colspan="3" th:text="${post.member.nickname}"></td>
			</tr>

			<tr>
				<td colspan="3" th:text="${post.content}"></td>
			</tr>
			</tbody>
		</table>
		<div class="post-buttons">
			<button type="button" th:text="수정" onclick="goWritePage();"></button>
			<button type="button" onclick="goListPage();">뒤로</button>
		</div>
	</div>

	<div class="comment-section">
		<h3>댓글</h3>
		<form id="commentForm" method="post">
			<div class="comment-form">
				<textarea id="commentContent" name="commentContent" rows="3" cols="50"></textarea>
				<button onclick="saveComment();">댓글 작성</button>
			</div>
		</form>

		<div class="comments">
			<div class="comment_box">
				<p class="comment_id">아이디</p>
				<p class="comment_text">댓글</p>
				<div class="comment_meta">
					<span class="comment_date">날짜</span>
					<span class="comment_reply">답글쓰기</span>
				</div>
			</div>
			<div class="comment_box">
				<p class="comment_id">아이디2</p>
				<p class="comment_text">댓글2</p>
				<div class="comment_meta">
					<span class="comment_date">날짜2</span>
					<span class="comment_reply">답글쓰기</span>
				</div>
			</div>
		</div>

	</div>
</th:block>

<th:block layout:fragment="js">
<script th:inline="javascript">
/*<![CDATA[*/
	window.onload = () => {
		drawPost();
	}

	// 게시글 렌더링
	function drawPost() {
		const post = [[${post}]];
		document.getElementById('createdDate').innerText = dayjs(post.createdDate).format('YYYY-MM-DD HH:mm');

		if(post.modifiedDate != null) {
			document.getElementById('modified').innerText = '수정일';
			document.getElementById('modifiedDate').innerText = dayjs(post.modifiedDate).format('YYYY-MM-DD HH:mm');
		}
	}

	// 댓글 요청
	function getComments() {
		$.ajax({
			type: "GET",
			url: `/comment/` + post.id,
			dataType: 'json',
			success: function(request) {
				renderComments(request);
			},
			error: function(xhr, status, error) {
				console.log('AJAX request failed error:', status, error);
			}
		});
	}



	// 댓글 저장
	function saveComment() {
		const comment = document.getElementById('commentContent').text;
		$.ajax({
			type: "POST",
			url: `/comment/save/` + post.id,
			data: comment,
			dataType: 'json',
			success: function(request) {
				if(request)
					renderComments();
				else {
					alert("댓글 작성 실패. 다시 시도해 주세요");
					location.reload();
				}
			},
			error: function(xhr, status, error) {
				console.error('AJAX request failed error:', status, error);
			}
		});
	}

	// 수정 페이지
	function goWritePage() {
		var url = "/post/write?id=" + [[${post.id}]];
		window.location.href = url;
	}


	// 뒤로 가기
	function goListPage() {
		window.history.back();
	}
/*]]>*/
</script>
</th:block>