<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/basic}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
    <title>게시글 작성</title>
</th:block>

<th:block layout:fragment="contentFragment">
    <section>
        <form id="saveForm" method="#" th:method="POST">
            <input type="hidden" name="_method" th:if="${post != null}" value="put"/>
            <input type="hidden" id="id" name="id" th:if="${post != null}" th:value="${post.id}"/>
            <input type="hidden" id="viewCnt" name="viewCnt" th:if="${post != null}" th:value="${post.viewCnt}"/>

            <table>
                <colgroup>
                    <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">비공개</th>
                        <td><input type="checkbox" id="publicYn" name="publicYn"/>설정</td>

                        <th scope="row">등록일</th>
                        <td colspan="3"><span id="createdDate" readonly></span></td>
                    </tr>

                    <tr>
                        <th>게시판</th>
                        <td colspan="3"><input type="text" id="category" name="category" placeholder="게시판"/> </td>
                    </tr>

                    <tr>
                        <th>제목</th>
                        <td colspan="3"><input type="text" id="title" name="title" maxlength="50" placeholder="제목을 입력해 주세요."/> </td>
                    </tr>

                    <tr>
                        <th>아이디</th>
                        <td colspan="3"><input type="text" id="writer" name="writer"/></td>
                    </tr>

                    <tr>
                        <th>내용</th>
                    </tr>
                </tbody>
            </table>
            <textarea id="content" name="content" cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea>
        </form>
        <p>
            <button type="button" id="saveBtn" onclick="savePost();"></button>
            <button type="button" onclick="goHomePage();">뒤로</button>
        </p>
    </section>
</th:block>


<th:block layout:fragment="js">
<script th:inline="javascript">
/*<![CDATA[*/
    window.onload = () => {
        renderPostInfo();
    }


    // 게시글 정보 렌더링
    function renderPostInfo() {
        const post =  [[${post}]];

        if(!post) {
            initCreatedDate();
            document.getElementById('saveBtn').innerText = '저장';
            return false;
        }

        document.getElementById('saveBtn').innerText = '수정';
        const form = document.getElementById('saveForm');
        const fields = ['title', 'content', 'writer', 'publicYn'];
        form.publicYn.checked = post.publicYn;

        document.getElementById('category').value = post.category.category;
        document.getElementById('createdDate').textContent = dayjs(post['createdDate']).format('YYYY-MM-DD  HH:mm');

        fields.forEach(field => {
            form[field].value = post[field];
        })


    }


    // 등록일 초기화
    function initCreatedDate() {
        document.getElementById('createdDate').textContent = dayjs().format('YYYY-MM-DD');
    }


    // 게시글 저장
    function savePost() {
        const form = document.getElementById('saveForm');
        form.publicYn.value = form.publicYn.checked;
        document.getElementById('saveBtn').disabled = true;

        if([[${post}]] != null)
            form.action = '/post/update';
        else
            form.action = '/post/save';
        form.submit();
    }




    // 뒤로 가기
    function goHomePage() {
        if(confirm("작성중인 게시물은 저장되지 않습니다. 정말 뒤로 가시겠습니까?"))
            window.history.back();
    }
/*]]>*/
</script>
</th:block>

</html>
