<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout/basic}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="title">
    <title>게시글 작성</title>
</th:block>

<th:block layout:fragment="contentFragment">
    <section>
        <form id="saveForm" method="#" th:method="POST" enctype="multipart/form-data">
            <input type="hidden" name="_method" th:if="${post != null}" value="put"/>
            <input type="hidden" id="id" name="id" th:if="${post != null}" th:value="${post.id}"/>
            <input type="hidden" name="viewCnt" th:if="${post != null}" th:value="${post.viewCnt}"/>
            <input type="hidden" name="viewCnt" th:if="${post == null}" th:value="0"/>
            <input type="hidden" name="noticeYn" th:value="false"/>

            <table>
                <colgroup>
                    <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
                </colgroup>
                <tbody>
                    <tr>
                        <th scope="row">비공개</th>
                        <td>
                            <input type="checkbox" id="publicYn" name="publicYn" th:value="false"/>설정
                            <input type="hidden" name="publicYn" th:value="true"/>
                        </td>


                        <th scope="row">등록일</th>
                        <td colspan="3"><span id="createdDate" readonly></span></td>
                    </tr>

                    <tr>
                        <th>게시판</th>
                        <td colspan="3">
                            <select id="category" name="category">
                                <option id="categoryDefault" value="" disabled selected>게시글 선택</option>
                                <option th:each="list : ${categoryList}" th:value="${list.category}" th:text="${list.category}"></option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <th>제목</th>
                        <td colspan="3"><input type="text" id="title" name="title" maxlength="50" placeholder="제목을 입력해 주세요."/> </td>
                    </tr>

                    <tr>
                        <th>아이디</th>
                        <td colspan="3"><span id="writer" readonly></span></td>
                    </tr>

                    <tr>
                        <th>내용</th>
                    </tr>
                </tbody>
            </table>
            <textarea id="content" name="content" cols="50" rows="10" placeholder="내용을 입력해 주세요."></textarea>
            <p>파일첨부</p>
            <ul class="fileList"></ul>
            <input type="file" id="file" name="file" multiple="multiple">
        </form>
        <p>
            <button type="button" id="saveBtn" onclick="savePost();">저장</button>
            <button type="button" onclick="deletePost();">삭제</button>
            <button type="button" onclick="goHomePage();">뒤로</button>
        </p>
    </section>
</th:block>


<th:block layout:fragment="js">
<script th:inline="javascript">
/*<![CDATA[*/
    window.onload = () => {
        renderPostInfo();
    }

    let fileList = [];  // 파일 리스트

    // 파일 업로드 이벤트 바인딩
    $(function() {
        $("#file").change(handleFileList);
    });

    // 파일 업로드 이벤트
    function handleFileList(event) {
        const files = event.target.files;

        for(let i = 0; i < files.length; i++)
            fileList.push(files[i]);

        updateFileList();
    }

    // 파일 리스트 업데이트
    function updateFileList() {
        var html ='';
        fileList.forEach((file, index) => {
            html += `
                <li>
                    ${file.name} <a class="deleteFileButton" onclick="deleteFile(${index})";>x</a>
                </li>
            `;
        });

        $(".fileList").html(html);
        $("#file").val('');
    }

    // 파일 리스트 삭제
    function deleteFile(index) {
        fileList.splice(index, 1);
        updateFileList();
    }


    // 게시글 정보 렌더링
    function renderPostInfo() {
        const post =  [[${post}]];
        const categoryList = [[${categoryList}]];
        const writer = [[${writer}]];
        const existFileList = [[${existFileList}]];
        document.getElementById('writer').textContent = writer;

        if(!post) {
            initCreatedDate();
            document.getElementById('saveBtn').innerText = '저장';
            return false;
        }

        document.getElementById('categoryDefault').value = post.category.category;
        document.getElementById('categoryDefault').textContent = post.category.category;

        document.getElementById('saveBtn').innerText = '수정';
        const form = document.getElementById('saveForm');
        const fields = ['title', 'content', 'publicYn'];
        form.publicYn.checked = post.publicYn;


        document.getElementById('createdDate').textContent = dayjs(post['createdDate']).format('YYYY-MM-DD  HH:mm');

        fields.forEach(field => {
            form[field].value = post[field];
        })


        if(existFileList != null) {
            existFileList.forEach(file => {
                $.ajax({
                    type: "GET",
                    url: `/file/post/${file.postId}/${file.uuid}/${file.originalFileName}`,
                    async: false,
                    success: function(response) {
                        const blob = new Blob([response]);
                        const fileObject = new File([blob], file.originalFileName, { type: file.extension });
                        fileList.push(fileObject);
                    },
                    error: function(xhr, status, error) {
                        console.error('AJAX request failed error:', status, error);
                    }
                });
            });
        }
        updateFileList();
    }


    // 등록일 초기화
    function initCreatedDate() {
        document.getElementById('createdDate').textContent = dayjs().format('YYYY-MM-DD');
    }


    // 게시글 저장
    function savePost() {
        var categoryChecked = document.getElementById("category");
        if(categoryChecked.value === "") {
            alert("게시글을 선택해주세요.");
            return;
        }

        const form = document.getElementById('saveForm');
        document.getElementById('saveBtn').disabled = true;

        const data = new FormData(form);
        fileList.forEach(file => {
            data.append('files', file);
        });
        const url = ([[${post}]] != null) ? '/post/update' : '/post/save';


        $.ajax({
            url: url,
            type: 'POST',
            data: data,
            processData: false, // 객체 문자열 변환 x
            contentType: false, // content-type 헤더 설정 x
            success: function(response) {
                console.log(response);
                if(response.successStatus) {
                    if(response.postSaved)
                        alert("게시글이 저장되었습니다.");
                    else
                        alert("게시글이 수정되었습니다.");
                    window.location.href = "/";
                } else {
                    alert(response.errorMessage);
                    window.location.reload();
                }
            },
            error: function(xhr, status, error) {
                console.error('AJAX request failed error:', status, error);
            }

        })
    }


    // 게시글 삭제
    function deletePost() {
        if(confirm("정말 삭제하시겠습니까?"))
            window.location.href = "/post/delete/" + post.id;
    }




    // 뒤로 가기
    function goHomePage() {
        if(confirm("작성중인 게시물은 저장되지 않습니다. 정말 뒤로 가시겠습니까?"))
            window.history.back();
    }
/*]]>*/
</script>
</th:block>

</html>

