<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
    <header>
        <h1><a href="post/list">Game</a> </h1>

        <a class="login-link" href="login.html">로그인</a>
    </header>

    <div class="banner">
        <img src="images/banner.jpg" alt="게임 배너">
    </div>

    <nav class="navigator">
        <ul>
            <li><a href="#">게임</a></li>
            <li><a href="#">자유게시판</a></li>
        </ul>
    </nav>

    <main>
        <aside class="aside_left">
            <h2>Chatting</h2>
            <p>블라블라...</p>
        </aside>
        <section class="content">
            <th:block layout:fragment="contentFragment"></th:block>
        </section>
        <aside class="aside_right">
            <div>
                <a class="categoryClass selected" th:text="전체글"></a>
            </div>
            <div th:each="list : ${categoryList}">
                <div>
                    <a class="categoryClass" th:text="${list.category}"></a>
                </div>
            </div>
        </aside>
    </main>

    <footer>
        <p>Copyright &copy; 2023</p>
    </footer>

</body>
</html>