<!DOCTYPE html>
<html
    lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="main-head">
    <meta charset="UTF-8">

    <th:block layout:fragment="title"></th:block>
    <th:block layout:fragment="js"></th:block>
    <script th:inline="javascript" th:src="@{/js/common/header.js}"></script>
    <script th:src="@{/js/common/common.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
</html>