body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    position: flex;
    width: 100%;
    background-color: #333;
    padding: 0px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

a {
    cursor: pointer;
}

.banner {
    height: 200px; /* 배너의 높이 설정 */
    background-color: #f0f0f0; /* 배너의 배경색 설정 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.banner img {
    max-width: 100%; /* 이미지가 부모 요소를 넘어가지 않도록 설정 */
    max-height: 100%; /* 이미지가 부모 요소를 넘어가지 않도록 설정 */
}

.navigator {
    display: flex;
    margin-top: 20px;
}

.navigator ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigator li {
    display: inline-block;
    margin-right: 20px;
}

.navigator a {
    text-decoration: none;
    color: #999;
    font-weight: bold;
}

.login-link {
    text-decoration: none;
    color: #999; /* 링크 색상 지정 */
}


main {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#list {
    padding: 10 0px;
    text-align: center;
}

.aside_left,
.content,
.aside_right {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px;
}

.categoryName,
.searchForm {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 20px;
}

.content {
    flex: 14;
}

aside {
    flex: 3;
}

footer {
    background-color: #000;
    position: flex;
    left: 0;
    color: #fff;
    padding: 0px;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.categoryClass:hover {
    font-weight: bold;
    cursor: pointer;
}

.selected {
    text-decoration: underline;
    font-weight: bold;
    color: blue;
}

#postList {
    margin: 10 5px;
    padding: 5px 10px;
}

#paging a {
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 7px;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
}
#paging a:hover {
    background-color: #f0f0f0;
}

.pageDisabled {
    pointer-events: none;
    cursor: default;
}

.overflow-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 드롭다운 스타일 */
.dropdown {
    position: relative;
    display: inline-block;
}



/* 삼각형 표시 (유니코드) */
.dropdown-toggle::after {
    content: "\25BC"; /* 아래향 삼각형 유니코드 */
    font-size: 12px;
    margin-left: 0.5rem;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
    display: none;
    right: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    border-radius: 0.25rem;
    z-index: 1000;
    min-width: 10rem; /* 메뉴가 잘리지 않도록 넓이 조정 */
}

/* 드롭다운 메뉴 항목 스타일 */
.dropdown-menu a {
    display: block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    color: #212529;
}

.dropdown-menu a:hover {
    background-color: #e9ecef;
}

/* 드롭다운 메뉴 표시 */
.dropdown:hover .dropdown-menu {
    display: block;
}